{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block description %}Promotion{% endblock %}

{% block keywords %}Promotion{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5" >Les produits en promotion</h1>
{% endblock %}