{% extends 'themes/base_visitor.html.twig' %}

{% block title %}catalogue{% endblock %}

{% block description %}catalogue{% endblock %}

{% block keywords %}liste des produits{% endblock %}

{% block main %}
    <h1 class="text-center my-4 display-5" >Liste des produits</h1>
{% endblock %}