{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Contact{% endblock %}

{% block description %}Contactez-Nous{% endblock %}

{% block keywords %}Contacte{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5" >Contactez-Nous</h1>
{% endblock %}