<h1>Bonjour!</h1>

<p>Pour la réinitialisation de votre mot de passe, merci de suivre ce lien</p>

<a href="{{ url( 'visitor_security_reset_password', {token: resetToken.token}) }}">{{ url( 'visitor_security_reset_password', {token: resetToken.token}) }}</a>

<p>ce lien expire dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A bientot sur le site Horizon!</p>
