{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Cart{% endblock %}

{% block description %}votre panier d'achat{% endblock %}

{% block keywords %}votre panier d'achat{% endblock %}

{% block main %}
    <h1 class="text-center my-4 display-5" >votre panier d'achat</h1>
{% endblock %}